In [13]:
import pandas as pd
bookingsdata_frame=pd.read_csv(r"C:\Users\lasya\OneDrive\Desktop\DS PROJECT\datascience project\bookings.csv")

In [14]:
import pandas as pd
routesdata_frame=pd.read_csv(r"C:\Users\lasya\OneDrive\Desktop\DS PROJECT\datascience project\routes.csv")

In [15]:
import pandas as pd
customersdata_frame=pd.read_csv(r"C:\Users\lasya\OneDrive\Desktop\DS PROJECT\datascience project\customers.csv")

In [16]:
# Number of rows and columns for customers data
print("Dataset Shape:",customersdata_frame.shape)

Dataset Shape: (100, 6)

In [17]:
#no of rows and columns for routes data
print("Dataset Shape:",routesdata_frame.shape)

Dataset Shape: (50, 7)

In [18]:
#no of rows and columns for bookings  data
print("Dataset Shape:",bookingsdata_frame.shape)

Dataset Shape: (500, 7)

In [27]:
#  missing values for bookings data

print("Missing Values:\n", bookingsdata_frame.isnull().sum())

Missing Values:
 Booking_ID      0
Customer_ID     0
Route_ID        0
Booking_Date    0
Travel_Date     0
Seats_Booked    0
Rating          0
dtype: int64

In [ ]:
#  missing values for routes data

print("Missing Values:\n", routesdata_frame.isnull().sum())

Data Types:
 Route_ID               object
Origin                 object
Destination            object
Distance (km)           int64
Duration (hours)      float64
Bus_Type               object
Ticket_Price (INR)      int64
dtype: object
Missing Values:
 Route_ID              0
Origin                0
Destination           0
Distance (km)         0
Duration (hours)      0
Bus_Type              0
Ticket_Price (INR)    0
dtype: int64

In [ ]:
#  missing values for customers data

print("Missing Values:\n", customersdata_frame.isnull().sum())

Data Types:
 Customer_ID           object
Name                  object
Age_Group             object
Gender                object
Location              object
Preferred_Bus_Type    object
dtype: object
Missing Values:
 Customer_ID           0
Name                  0
Age_Group             0
Gender                0
Location              0
Preferred_Bus_Type    0
dtype: int64

In [22]:
# Unique values in categorical columns for bookings data
categorical_cols = bookingsdata_frame.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"Unique values in {col}:", bookingsdata_frame[col].nunique())

# Summary statistics for bookings data
print(bookingsdata_frame.describe())

Unique values in Booking_ID: 500
Unique values in Customer_ID: 100
Unique values in Route_ID: 50
Unique values in Booking_Date: 401
Unique values in Travel_Date: 393
       Seats_Booked      Rating
count    500.000000  500.000000
mean       3.054000    3.046000
std        1.432196    1.171439
min        1.000000    1.000000
25%        2.000000    2.100000
50%        3.000000    3.000000
75%        4.000000    4.100000
max        5.000000    5.000000

In [23]:
# Unique values in categorical columns for routes data
categorical_cols = routesdata_frame.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"Unique values in {col}:", routesdata_frame[col].nunique())

# Summary statistics for routes data
print(routesdata_frame.describe())

Unique values in Route_ID: 50
Unique values in Origin: 50
Unique values in Destination: 50
Unique values in Bus_Type: 4
       Distance (km)  Duration (hours)  Ticket_Price (INR)
count      50.000000         50.000000           50.000000
mean      783.420000         12.174000         1156.780000
std       413.378815          6.093717          475.532324
min        73.000000          1.500000          316.000000
25%       477.250000          6.550000          847.000000
50%       820.000000         12.100000         1159.000000
75%      1132.500000         17.300000         1527.500000
max      1498.000000         23.900000         1985.000000

In [24]:
# Unique values in categorical columns for customers data
categorical_cols = customersdata_frame.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"Unique values in {col}:", customersdata_frame[col].nunique())

# Summary statistics for customerss data
print(customersdata_frame.describe())

Unique values in Customer_ID: 100
Unique values in Name: 100
Unique values in Age_Group: 5
Unique values in Gender: 3
Unique values in Location: 100
Unique values in Preferred_Bus_Type: 4
       Customer_ID           Name Age_Group      Gender    Location  \
count          100            100       100         100         100
unique         100            100         5           3         100
top           C001  Ashley Hooper       >60  Non-Binary  Annchester
freq             1              1        24          43           1

       Preferred_Bus_Type
count                 100
unique                  4
top        Non-AC Sleeper
freq                   32

In [25]:
merged_df = pd.merge(bookingsdata_frame, customersdata_frame, on='Customer_ID')
merged_df = pd.merge(merged_df, routesdata_frame, on='Route_ID')
print(merged_df)

    Booking_ID Customer_ID Route_ID Booking_Date Travel_Date  Seats_Booked  \
0        B0001        C065     R026   17-11-2023  12-12-2023             4
1        B0002        C076     R038   10-04-2024  08-05-2024             3
2        B0003        C092     R047   02-10-2023  23-10-2023             4
3        B0004        C004     R026   27-12-2023  10-01-2024             4
4        B0005        C080     R050   10-01-2023  30-01-2023             5
..         ...         ...      ...          ...         ...           ...
495      B0496        C006     R013   16-07-2022  20-07-2022             4
496      B0497        C072     R010   19-05-2023  08-06-2023             2
497      B0498        C071     R009   29-12-2021  07-01-2022             1
498      B0499        C032     R029   02-04-2023  07-04-2023             4
499      B0500        C024     R026   10-12-2022  08-01-2023             2

     Rating                     Name Age_Group      Gender          Location  \
0       4.9           Robin Martinez       <18  Non-Binary      Mcdanielside
1       2.1           Tyler Shepherd     18–25  Non-Binary         Evanburgh
2       3.9             Jason George     18–25  Non-Binary         Hallshire
3       1.5          Kathryn Mueller     41–60  Non-Binary       New Melissa
4       5.0           Leroy Williams       >60        Male  West Austinshire
..      ...                      ...       ...         ...               ...
495     2.7           Cynthia Norman     41–60  Non-Binary        Mendeztown
496     3.6            James Aguirre     18–25  Non-Binary        East Marie
497     1.6          Andrew Clements     18–25      Female        Andrewview
498     4.7  Katherine Gallagher DDS     18–25  Non-Binary        Josephport
499     3.2            Mallory Lopez       >60        Male     Carterborough

    Preferred_Bus_Type          Origin     Destination  Distance (km)  \
0           AC Sleeper      Walterfort   Port Johnland            636
1           AC Sleeper       Mccoystad        Westberg           1087
2      AC Semi-Sleeper    Benjaminstad   West Annaland            662
3           AC Sleeper      Walterfort   Port Johnland            636
4       Non-AC Sleeper     Vincentview  South Corystad            347
..                 ...             ...             ...            ...
495     Non-AC Sleeper     Gilberttown    Kaylachester            477
496    AC Semi-Sleeper  North Maryport       East Mark            804
497         AC Sleeper  Kennedyborough      Jonesshire           1265
498     Non-AC Sleeper     Ramireztown      Evelynland           1235
499    AC Semi-Sleeper      Walterfort   Port Johnland            636

     Duration (hours)         Bus_Type  Ticket_Price (INR)
0                 7.4    Non-AC Seater                1765
1                 5.0    Non-AC Seater                 360
2                11.7    Non-AC Seater                 856
3                 7.4    Non-AC Seater                1765
4                14.8   Non-AC Sleeper                 725
..                ...              ...                 ...
495               2.6  AC Semi-Sleeper                1240
496               2.5  AC Semi-Sleeper                1878
497              19.5       AC Sleeper                 805
498               8.2    Non-AC Seater                 443
499               7.4    Non-AC Seater                1765

[500 rows x 18 columns]

In [31]:
print("Data Types:\n", routesdata_frame.dtypes)

Data Types:
 Route_ID               object
Origin                 object
Destination            object
Distance (km)           int64
Duration (hours)      float64
Bus_Type               object
Ticket_Price (INR)      int64
dtype: object

In [28]:
print("Data Types:\n", bookingsdata_frame.dtypes)

Data Types:
 Booking_ID       object
Customer_ID      object
Route_ID         object
Booking_Date     object
Travel_Date      object
Seats_Booked      int64
Rating          float64
dtype: object

In [32]:
print("Data Types:\n", customersdata_frame.dtypes)

Data Types:
 Customer_ID           object
Name                  object
Age_Group             object
Gender                object
Location              object
Preferred_Bus_Type    object
dtype: object

In [26]:
#Changing Data Types for customerss and routes


customersdata_frame['Customer_ID'] = customersdata_frame['Customer_ID'].astype(str)
routesdata_frame['Route_ID'] = routesdata_frame['Route_ID'].astype(str)